
    <br/>
    <h5> Aylara Göre Sıralı Tiwitleriniz</h5>
    <hr/>
    <% @groupedtweets.each do |groupedtweet| %>
      <h3><%= groupedtweet[0] %> Ay</h3>
      <% groupedtweet[1].each do |tweet| %>
        <%= tweet.created_at.getlocal.strftime("%F %T") %>
        <p><%=  tweet.text %> <a href="<%= tweet.url %>"> <%= tweet.url %></a> </p>
        <pre><!--%= JSON.pretty_generate(tweet.attrs) %--></pre>
      <% end %>
    <% end %>

