
    <br/>
    <h4>Home Timeline</h4>
    <hr/>
    <% @timeline.each do |tweet| %>
      <p><%= tweet.text %> by @<%= tweet.user.screen_name %> <a href="<%= tweet.url %>"> <%= tweet.url %>  </a> </p>
      <!--%= JSON.pretty_generate(tweet.attrs) %-->
        <p > Twit Kaynağı: <%= tweet.source %> 
         Takipçi Sayısı: <%= tweet.user.followers_count %> 
         Arkadaş Sayısı: <%= tweet.user.friends_count %>
        </p>
        <hr/>
    <% end %>
 